
.trade {
    display: flex;
    justify-content: space-between; /* Add space between chart and order sections */
}

/* Clear floats to prevent layout issues */
.trade::after {
    content: "";
    display: table;
    clear: both;
}
.chart-section{
    float: left;
    width: 80%;

}
.order-section{
    float: right;

}