
.app-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease; 
    top: 0;
    left: 0;
    right: 0;
    /* background: #b3b3b3; */
    /* 
    position: fixed;
    z-index: 1000;
    padding: 20px 4%;
    */
  }
  .container {
    border: solid;
    }
    
    .app-header:hover,
    .app-header.scrolled {
      /* background-color: #141414; */
      background-color: rgba(0, 0, 0, 0);
    }
    
    .header-left,
    .header-right {
      display: flex;
      align-items: center;
    }
    
    .logo {
      height: 30px;
      margin-right: 25px;
      justify-items: center;
      align-items: center;
    }
    
    .nav-links ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    .nav-links li {
      margin-right: 20px;
    }
    
    .nav-links a {
      color: #000000;
      text-decoration: none;
      font-size: 0.85rem;
      transition: color 0.3s ease;
    }
    
    .nav-links a:hover {
      color: #b3b3b3;
    }
/*     
    .icon-button {
      background: none;
      border: solid 1px #e5e5e5;
      color: white;
      font-size: 1.2rem;
      margin-left: 20px;
      cursor: pointer;
    }
    
    .icon-button:hover {
      opacity: 0.5;
    } */
    .login-button {
        background-color: #4285f4; /* Blue color similar to the image */
        color: white;
        padding: 10px 20px;
        font-size: 1rem;
        border: none;
        border-radius: 5px; /* Rounded corners */
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for a raised effect */
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
      }
      
      .login-button:hover {
        background-color: #357ae8; /* Darker shade of blue on hover */
      }
      
    .mobile-menu-button {
      display: none;
    }
    
    .mobile-nav {
      display: none;
      position: fixed;
      top: 0;
      right: -100%;
      width: 50%;
      height: 100%;
      background-color: #141414;
      z-index: 1001;
      transition: right 0.3s ease;
    }
    
    .mobile-nav.open {
      right: 0;
    }
    
    .mobile-nav ul {
      list-style-type: none;
      padding: 0;
      margin-top: 60px;
    }
    
    .mobile-nav li {
      margin: 20px 0;
    }
    
    .mobile-nav a {
      color: #e5e5e5;
      text-decoration: none;
      font-size: 1.2rem;
      display: block;
      padding: 10px 20px;
    }
    
    .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      background: none;
      border: none;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
      
    }
    
    @media (max-width: 768px) {
      .desktop-nav {
        display: none;
      }
    
      .mobile-menu-button {
        display: block;
      }
    
      .mobile-nav {
        display: block;
      }
    
      .icon-button {
        font-size: 0.75rem;
        margin-left: 10px;
      }
    
      a {
        text-align: left;
        font-size: 1.15rem !important;
      }
    }
    
  