.trade {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */

    /* padding: 20px; */
}

.widget-section {
    width: 100%;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-section {
    width: 100%;
    background: #ffffff;
    padding: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-section {
    width: 100%;
    background: #ffffff;
    padding: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center; /* 내용물 수평 중앙 정렬 */
    justify-content: center; /* 내용물 수직 중앙 정렬 */
}
