/* rank.css */

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  height: 150px; /* 카드 크기 고정 */
  display: flex;
  align-items: center;
}

.card h5 {
  margin-bottom: 10px;
  color: #333333;
}

.card h4 {
  color: #4a90e2;
}

.table-container {
  margin-top: 50px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.table th {
  background-color: #f2f2f2;
  color: #333333;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table td {
  color: #555555;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .card {
    padding: 15px;
  }

  .table th, .table td {
    padding: 10px;
  }
}

/* 수익률 색상 */
.success {
  color: #4caf50;
}

.error {
  color: #f44336;
}

/* Sort Indicator Alignment */
.MuiTableSortLabel-root {
  display: flex;
  align-items: center;
}

.MuiTableSortLabel-icon {
  margin-left: 4px;
}

/* Rank Styles */
.rank-1 {
  box-shadow: inset 0 0 0 2px gold;
  background-color: #fff8e1;
}

.rank-1:hover {
  background-color: #ffd700; /* 더 진한 금색 */
}

.rank-2 {
  box-shadow: inset 0 0 0 2px silver;
  background-color: #e0e0e0; /* 더 튀는 색 */
}

.rank-2:hover {
  background-color: #b0b0b0; /* 더 진한 은색 */
}

.rank-3 {
  box-shadow: inset 0 0 0 2px #cd7f32; /* 더 진한 동색 */
  background-color: #cd7f32; /* 동색 */
}

.rank-3:hover {
  background-color: #8b4513; /* 더 진한 동색 */
}

@keyframes sparkle {
  0% { box-shadow: 0 0 5px gold; }
  50% { box-shadow: 0 0 20px gold; }
  100% { box-shadow: 0 0 5px gold; }
}

.card-content {
  font-size: calc(0.8rem + 0.5vw); /* 글자 크기 동적 조정 */
}

.card-content {
  font-size: 1rem;
}

/* 메달 아이콘 크기 */
.medal {
  font-size: 4rem;
  display: inline-block;
  line-height: 1;
}

/* 일반 랭커들의 행에 마우스 오버 시 회색 배경 적용 */
.MuiTableRow-root.table-row:hover:not(.rank-1):not(.rank-2):not(.rank-3) {
  background-color: #f1f1f1;
}

/* 1등 마우스 오버 시 배경색 진하게 */
.MuiTableRow-root.table-row.rank-1:hover {
  background-color: #ffd700 !important;
}

/* 2등 마우스 오버 시 배경색 진하게 */
.MuiTableRow-root.table-row.rank-2:hover {
  background-color: #b0b0b0 !important;
}

/* 3등 마우스 오버 시 배경색 진하게 */
.MuiTableRow-root.table-row.rank-3:hover {
  background-color: #8b4513 !important;
}

.banner {
  display: flex;
  height: 300px;
  animation: scroll 300s linear infinite;
}

.moving-banner {
  height: 300px;
  margin-right: 0px; /* 배너 간 간격 */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-1000%);
  }
}